<% layout('layouts/boilerplate')%>

<div>
    <a href="/students">All Students</a>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <% for (let student of students){%>
    <div class="col">
        <div class="card h-100" style="width: 18rem;">
            <div class="card-body">
                <div><%if(student.images.length) {%>
                    <img class=" img-responsive card-img-top img-thumbnail" alt="" src="<%=student.images[0].url%>">
                    <% }%></div>
                <div>
                    <div>
                        <h5 class="card-title"><%= student.name %> </h5>
                        <p class="card-text"><%= student.degree %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= student.email%></small>
                        </p>
                        <a class="btn btn-primary" href="/students/<%=student._id%>">View <%=student.name%></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }%>
</div>